---
interface Props {
	title: string;
	subtitle: string;
    featureClass: string;
    customImgContainerClass?: string;
    imageA: {
        alt: string;
        src: string;
        customClass: string
    }
    imageB: {
        alt: string;
        src: string;
        customClass: string
    }

}

const { title, subtitle, featureClass, customImgContainerClass, imageA, imageB} = Astro.props;
const defaultFeatureClass = "flex flex-col max-w-5xl mx-auto items-center text-center"
const defaultImgContainerClass = "mx-12 md:mx-6 md:w-1/2 relative"
---

<div class:list={[defaultFeatureClass, featureClass]}>
    <div class="md:w-1/2 flex flex-col gap-3">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-semibold text-gray-900">
            {title}
        </h1>
        <p class="text-xl text-gray-800">
            {subtitle}
        </p>
    </div>
    <div class:list={[defaultImgContainerClass, customImgContainerClass]}>
        <img class:list={imageA.customClass} src={imageA.src} alt="">
        <img class:list={imageB.customClass} src={imageB.src} alt="">
    </div>
</div>