---
import Container from './Container.astro';
import ButtonAccess from './ButtonAccess.astro';

interface Props {
    title: {
        start: string;
        break: string;
        end: string
    }
    button: {
        content: string;
        href: string;
        customClass?: string
    }

}

const { title, button} = Astro.props;
const defaultFlagClass = "flex flex-col w-full items-center py-24 bg-gray-900 justify-center"
---

<div class:list={[defaultFlagClass]}>
    <Container customClass='justify-center items-center flex flex-col gap-6'>
        <h1 class="text-5xl md:w-2/3 text-center font-semibold text-white">
            <span>{title.start}</span>
            <span class="relative">
                <span>{title.break}</span>
                <div class="absolute bottom-50 start-0 fill-orange-500">
                    <svg class='w-full h-fit' width="279" height="47" viewBox="0 0 279 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="underlined">
                        <mask id="mask0_694_1002" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="279" height="47">
                        <rect class="intersect z-10 unintersected:undraw intersected:draw transition-all duration-700" id="clipping" width="279" height="47" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_694_1002)">
                        <path id="Vector 16" d="M267.145 12.9276C162.166 -3.34852 70.3044 9.37714 15.5778 29.08C-3.21369 35.8458 5.12559 46.2933 11.273 43.025C19.7718 38.5066 137.225 2.8397 267.139 22.0468C276.249 23.3936 277.366 14.5123 267.145 12.9276Z" fill="#F97316"/>
                        </g>
                        </g>
                        </svg>
                    
                </div>
                
                
            </span>
            <span class="z-20">{title.end}</span>
        </h1>
        <ButtonAccess href={button.href} class:list={["text-xl w-fit mx-auto", button.customClass]}>{button.content}</ButtonAccess>
    </Container>
</div>