---
import Container from "./blocks/Container.astro";
import ButtonAccess from './blocks/ButtonAccess.astro';
import GoogleButton from "./blocks/GoogleButton.astro";
const blockContainer = {
    inputClass: "transition-all rounded-xl bg-gray-100 focus:bg-transparent border-2 border-transparent focus:border-gray-500 outline-none px-3 py-1.5",
    labelClass: "text-sm"
}
---

<Container customClass="mt-24 flex flex-col gap-6 lg:flex-row lg:max-w-fit">
    <div class="text-center gap-2 lg:gap-4 flex flex-col lg:w-5/12 lg:pl-12 lg:text-left">
        <h2
            class="text-2xl font-bold text-gray-800 md:text-3xl lg:text-4xl"
        >
            Registrate, es simple
        </h2>
        <p
            class="text-gray-600"
            
        >
        y solo te llevar치 un minuto.
        </p>
    </div>
    </div>
    <form class="flex flex-col gap-4 bg-white md:border rounded-2xl md:px-6 md:py-8 md:w-1/2 mx-auto " action="/api/auth/register" method="post">
        <div class="flex flex-col gap-2">
            <label class={blockContainer.labelClass} for="name">Nombre de usuario</label>
            <input class={blockContainer.inputClass} type="text" name="name" id="name" />
        </div>
        <div class="flex flex-col gap-2">
            <label class={blockContainer.labelClass} for="email">Correo electr칩nico</label>
            <input class={blockContainer.inputClass} type="email" name="email" id="email" />
        </div>
        <div class="flex flex-col gap-2">
            <label class={blockContainer.labelClass} for="password">Contrase침a</label>
            <input class={blockContainer.inputClass} type="password" name="password" id="password" />
        </div>
        <div class="flex flex-col gap-2">
            <p class="text-xs text-gray-500">People who use our service may have uploaded your contact information to Facebook. <a href="/privacy">Learn more</a>.</p>
            <p class="text-xs text-gray-500">By clicking Sign Up, you agree to our <a href="/privacy">Privacy Policy</a> and <a href="/privacy">Cookies Policy</a>.</p>
    
        </div>
        
        <ButtonAccess customType="submit" customClass="md:w-fit md:mx-auto">Registrate</ButtonAccess>
        <p class="text-gray-600 text-center mx-auto">칩</p>
        <GoogleButton />
    </form>

</Container>